body {
    display: grid;
    height: 100vh;
    margin: 0px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "header header"
    "nav main";
}

header {
    grid-area: header;
    background-color: #00192d;
    color: white;
    text-align: center;
    
}

nav {
    grid-area: nav;
    background-color: #cccccccc;
    display: flex;
    flex-direction: column;
    text-align: center;

}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 10px;
}





.linkButton {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 3vh;
    background-color: #00192d;
    text-align: center;
    color: white;
    border-radius: 2px;
    width: 80%;
}

.linkButton:hover {
    background-color: #86838a;
}

#projectGrid {
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 44%;
    margin: 3%;
    background-color: #cccccc;
    overflow: clip;
    border-radius: 15px;

}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 92%;
    width: 100%;
    margin: 3%;
    background-color: #cccccc;
    overflow: clip;
    border-radius: 15px;
    font-size: large;
    line-height: 2;
}

.leftText {
    text-align: left;
    width:100%;
}

p {
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: 1.1em;
    line-height: 1.3;
    
}
