/*define some variables*/
:root {


  --font-base: 16px;
  --font-scale: 1.25;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  --color-bg: #ffffff;
  --color-text-bg: #000000;
  --color-primary: #00192d;
  --color-light-primary: #064465;
  --color-text-primary: #FFFFFF;
  --color-accent: #0077cc;
}

@media (max-width: 768px) {
    :root {

    --space-xs: 0.1rem;
    --space-sm: 0.25rem;
    --space-md: 0.5rem;
    --space-lg: 1rem;
    --space-xl: 2rem;

    }

}



body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;

    height: 100vh;
    height: 100svh;
    margin: 0;
    
}

header {
    height: fit-content;

    background: linear-gradient(to bottom, var(--color-primary), var(--color-light-primary));


    color: var(--color-text-primary);
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

}

h1 {
   margin-left: 10%;
   margin-right: auto;
}

@media (max-width: 768px) {
    h1 {
        margin: var(--space-sm) 0;

    }

}

nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin-left: auto;
    margin-right: 10%;

}



.navLink {
    min-width: 10%;
    text-decoration: none;
    margin: 0 var(--space-md);
    color: inherit;
    text-align: center;
    border-radius: 5px;
    padding: var(--space-sm) var(--space-md);
    transition: background-color 0.3s ease;
  
}

.navLink:hover {
    background-color: var(--color-accent);
}

@media (max-width: 768px) {
   nav {
        margin-left: 0;
        margin-right: 0;
   }

   .navLink {
        margin: var(--space-md);
   }

}
main {
    background: var(--color-bg);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 10px;
}

#projectGrid {
    /*this will be a grid when I get more projects to put here. since theres only two it can be flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    
}


.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 95%;
    width: 37%;
    margin: 3%;
    background-color: #cccccc;
    overflow: clip;
    border-radius: 15px;

}

@media (max-width: 768px) {
    #projectGrid {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%;
        height: fit-content;
    }
}

.projLink {
    
    width: 50%;
    background-color: var(--color-light-primary);
    text-decoration: none;
    margin-bottom: var(--space-lg);
    margin-top: auto;
    color: var(--color-text-primary);
    text-align: center;
    border-radius: 5px;
    padding: var(--space-sm) var(--space-md);
    transition: background-color 0.4s ease;
  
}

.projLink:hover {
    background-color: var(--color-accent);
}

.contactContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 5px 10px rgb(140, 139, 139);
    height: fit-content;
    width: fit-content;
    margin: 3%;
    background-color: #cccccc;
    overflow: clip;
    border-radius: 15px;
    font-size: large;
    line-height: 2;
}
li {
    margin: var(--space-md);
}
@media (max-width: 768px) {

    li {
        margin: var(--space-lg);
    }

}

p {
    width: 90%;
    font-size: 1.1em;
    line-height: 1.3;
    
}

.imgMed {
    width: 40%;
    height: fit-content;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .imgMed {
        width: 70%;
    }
}