#siteGridContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "header header"
    "nav body";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

body {
    grid-area: body;
}